@import "utils/reset";
@import "utils/extensions";
@import "utils/functions";
@import "utils/mixins";
@import "utils/variables";

body, html {
    font-family: 'Roboto', sans-serif;
}

.header {
    @include taille(78px);
    @include shadow(0, 0);
    position: relative;
    z-index: 1;
    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 16px;
    }
}

.localisation {
    @include taille(64px);
    background-color: #eaeaea;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    & a {
        @include display(row);
        color: black;
        padding: 21px 0;
        & i {
            margin-right: 18px;
        }
    }
}

.exploration {
    @include taille(213px);
    background-color: #f6f6f6;
    text-align: center;
    padding: 32px 0;
    &__titre {
        @include h2;
        margin-bottom: 22px;
    }
    &__description {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 31px;
    }
    &__bouton {
        @include bouton;
        &:hover {
            cursor: pointer;
        }
    }
}

.fonctionnement {
    width: $width-max;
    @include display(column);
    padding: 32px 0;
    &__titre {
        @include h2;
        margin-bottom: 33px;
        padding-left: 16px;
    }
    &__etapes {
        display: flex;
        align-items: center;
        margin: auto;
        height: 74px;
        width: 85.87%;
        background: $couleur-fond;
        border-radius: 22px;
        @include shadow (4px, 4px);
        position: relative;
        margin-bottom: 24px;
        font-weight: 500;
        &__num {
            @include numero;      
        }
        &__picto {
            margin-left: 33px;
            margin-right: 27px;
            color: #7e7e7e;
        }
        &:hover {
            background: #f5edff;
            & i {
                color: $couleur-primaire;
            }
        }
    }
}

.footer {
    @include taille(197px);
    background-color: $couleur-footer;
    padding-left: 6.4%;
    @include display(column);
    color: $couleur-texte;
    &__logo {
        font-family: 'Shrikhand', cursive;
        margin-bottom: 20px;
        font-size: 18px;
    }
    &__list {
        font-size: 16px;
        &--picto {
            padding-right: 5px;
            width: 18px;
        }
        & li {
            margin-bottom: 8px;
        }
    }
    a {
        color: $couleur-texte;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}