* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
}

body, html {
  font-family: "Roboto", sans-serif;
}

.chargement {
  background: rgba(255, 255, 255, 0.9);
  z-index: 5;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 4s forwards;
}
.chargement__couvert {
  color: #9356DC;
  font-size: 50px;
  padding: 25px;
  border: 7px solid transparent;
  border-top: 7px solid #FF79DA;
  border-bottom: 7px solid #99E2D0;
  border-radius: 50%;
  animation: chargement 3s linear infinite;
}

.header {
  height: 78px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 16px;
}

.localisation {
  height: 64px;
  background-color: #eaeaea;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.localisation a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  padding: 21px 0;
}
.localisation a i {
  margin-right: 18px;
}

.exploration {
  background-color: #f6f6f6;
  text-align: center;
}
.exploration__titre {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 22px;
  padding-top: 32px;
}
.exploration__description {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
}
.exploration__bouton {
  color: white;
  background-color: #282828;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
  padding: 16px 22px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 57px;
  position: relative;
}
.exploration__bouton:hover {
  cursor: pointer;
  background-blend-mode: screen;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0 32px 6.24%;
}
.fonctionnement__titre {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 33px;
}
.fonctionnement__etapes {
  display: flex;
  align-items: center;
  margin: auto;
  width: 85.87%;
  height: 74px;
  background: #f6f6f6;
  border-radius: 22px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 24px;
  font-weight: 500;
  z-index: 1;
}
.fonctionnement__etapes::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.1s;
  background: #efe6fa;
  border-radius: 22px;
}
.fonctionnement__etapes__num {
  min-width: 24px;
  min-height: 24px;
  border-radius: 100%;
  background: #9356DC;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__etapes__picto {
  margin-left: 33px;
  margin-right: 27px;
  color: #7e7e7e;
}
.fonctionnement__etapes__texte {
  font-size: 16px;
  font-weight: 500;
  margin-right: 27px;
}
.fonctionnement__etapes:hover {
  cursor: pointer;
}
.fonctionnement__etapes:hover::after {
  opacity: 1;
}
.fonctionnement__etapes:hover i {
  color: #9356DC;
}

.restaurants {
  background: #f6f6f6;
  padding-top: 58px;
  padding-bottom: 46px;
}
.restaurants__titre {
  font-size: 24px;
  font-weight: 900;
  padding-left: 6.24%;
  margin-bottom: 27px;
}
.restaurants a {
  color: black;
}
.restaurants__vignette {
  width: 89.33%;
  height: 251px;
  background: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 22px;
  margin-bottom: 18px;
}
.restaurants__vignette__photo img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  position: absolute;
  top: 0;
  border-radius: 22px 22px 0 0;
}
.restaurants__vignette__nom {
  position: absolute;
  bottom: 42px;
  left: 18px;
  font-size: 18px;
  font-weight: 800;
}
.restaurants__vignette__ville {
  position: absolute;
  bottom: 18px;
  left: 18px;
  font-size: 16px;
  font-weight: 300;
}
.restaurants__vignette__like {
  position: absolute;
  bottom: 31px;
  right: 24px;
  font-size: x-large;
}
.restaurants__vignette__like.fa-solid {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 0.4s;
}
.restaurants__vignette__like.fa-solid:hover {
  opacity: 1;
}
.restaurants__vignette__encadre {
  background-color: #99E2D0;
  position: absolute;
  top: 13px;
  right: 11px;
  width: 80px;
  height: 29px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 197px;
  background-color: #353535;
  padding-left: 6.24%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
}
.footer__list {
  font-size: 16px;
  font-weight: 400;
}
.footer__list__picto {
  padding-right: 5px;
  width: 18px;
}
.footer__list li {
  margin-bottom: 8px;
}
.footer a {
  color: white;
}
.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .fonctionnement__vignette {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .fonctionnement__etapes {
    width: 30%;
  }

  .restaurants__bloc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .restaurants__vignette {
    width: 45%;
    margin: inherit;
    margin-bottom: 18px;
    margin-right: 18px;
  }
}
@media screen and (min-width: 1300px) {
  .fonctionnement {
    padding-left: 0;
    width: 1300px;
    margin: auto;
  }
  .fonctionnement__titre {
    padding-left: 6.24%;
  }

  .restaurants__partie {
    width: 1300px;
    margin: auto;
  }

  .footer {
    padding-left: 0;
  }
  .footer__logo {
    width: 1218.88px;
    margin: auto;
    padding-left: 81.12px;
  }
  .footer__nav {
    width: 1218.88px;
    margin: auto;
    padding-left: 81.12px;
  }
}

/*# sourceMappingURL=main.css.map */
