@mixin taille($width, $height) {
    width: $width;
    height: $height;
}

@mixin taille_et_marge($width, $margin) {
    width: $width;
    margin: $margin;
}

@mixin display($direction, $justif) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justif;
}

@mixin shadow($droite, $bas) {
    box-shadow: $droite $bas 8px rgba($color: #000000, $alpha: 0.25)
}

@mixin taille_texte($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin bouton {
    color: $couleur-texte;
    background-color: #282828;
    background-image: $couleur-degrade;
    border-radius: 25px;
    padding: 16px 22px;
    @include taille_texte(16px, 500);
    @include shadow(4px, 4px);
}

@mixin transition {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.1s;
}

@mixin numero {
    min-width: 24px;
    min-height: 24px;
    border-radius: 100%;
    background: $couleur-primaire;
    text-align: center;
    color: $couleur-texte;
    @include display(initial, center);
    align-items: center;
    position: absolute;
    left: -12px;
    @include taille_texte(16px, 500);
}